<nav class="mobile-nav border-top border-light-gray">
    <div class="container d-flex justify-content-between align-items-center py-4">
        <a href="/Analytics" class="nav-link d-flex flex-column align-items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="24"
                height="24" stroke="#454745" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
            </svg>

            <span class="small">Analytics</span>

        </a>
        <a href="/expenses/addExpense" role="button"
            class="nav-link add-button d-flex flex-column align-items-center gap-y-2 bg-primary text-black rounded-circle px-3 py-3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor"
                fill="none">
                <defs />
                <path fill="#141B34"
                    d="M12,3.25 C12.414,3.25 12.75,3.586 12.75,4 L12.75,11.25 L20,11.25 C20.414,11.25 20.75,11.586 20.75,12 C20.75,12.414 20.414,12.75 20,12.75 L12.75,12.75 L12.75,20 C12.75,20.414 12.414,20.75 12,20.75 C11.586,20.75 11.25,20.414 11.25,20 L11.25,12.75 L4,12.75 C3.586,12.75 3.25,12.414 3.25,12 C3.25,11.586 3.586,11.25 4,11.25 L11.25,11.25 L11.25,4 C11.25,3.586 11.586,3.25 12,3.25 Z" />
            </svg>
        </a>

        <a href="/Analytics" class="nav-link d-flex flex-column align-items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="24"
                height="24" stroke="#454745" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
            </svg>

            <span class="small">Change logs</span>

        </a>
    </div>
</nav>