@model WorthIt.Models.ExpenseItemViewModel

<div class="expense-item">
    <div class="expense-item d-flex justify-content-between align-items-center my-3">
        <div class="d-flex align-items-center gap-3">
            <div
                class="expense-icon bg-primary d-flex flex-column align-items-center gap-y-2 text-black rounded-circle">
                @(Model.Category != null ? Model.Category.CategoryIcon : "")
            </div>
            <div class="d-flex flex-column">
                <span class="expense-name text-black text-500 text-start">
                    @(Model.Category != null ? Model.Category.CategoryName : "Unknown")
                </span>
                <span class="expense-date text-start">
                    @(Model.Expense != null ? $"${Model.Expense.Amount:0}" : "")
                </span>
            </div>
        </div>
        <div class="hour-cost">
            2 hours
        </div>
    </div>
</div>