@using WorthIt.Migrations
@{
    ViewData["Title"] = "Add expense";
    ViewData["HideHeader"] = true;
}

@model List<WorthIt.Models.Category>

@if (TempData["CategoryAddedMessage"] is string message)
{
    <div class="my-4 p-2 rounded-2 border shadow-sm small mb-3 d-flex align-items-center justify-content-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#26bf7a" width="20" height="20" viewBox="0 0 640 640">
            <path
                d="M320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576zM438 209.7C427.3 201.9 412.3 204.3 404.5 215L285.1 379.2L233 327.1C223.6 317.7 208.4 317.7 199.1 327.1C189.8 336.5 189.7 351.7 199.1 361L271.1 433C276.1 438 282.9 440.5 289.9 440C296.9 439.5 303.3 435.9 307.4 430.2L443.3 243.2C451.1 232.5 448.7 217.5 438 209.7z" />
        </svg>
        @message
    </div>
}

<div class="py-4 d-flex flex-column justify-content-center align-items-center add-expense-container">
    <div class="text-center">
        <span class="small">@DateTime.Now.ToString("dddd, MMMM dd yyyy")</span>

        <form asp-action="AddExpense" method="post" class="d-flex flex-column align-items-center mt-3">
            <!-- amount -->
            <input type="text" inputmode="decimal" pattern="^\d+([.,]\d{1,2})?$" class="form-control text-center"
                id="expense-amount" placeholder="0" name="Amount" required />

            <hr class="w-100 my-4" />

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="24"
                height="24" stroke="#9B9B9B" class="size-6 mb-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>

            <!-- select tag row -->
            <a href="javascript:void(0)" type="button" id="open-category-modal"
                class=" d-flex align-items-center gap-2 select-tag-button">
                <span class="me-2" id="category-icon-placeholder">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="#000" class="size-6" width="20" height="20">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                    </svg>
                </span>
                <span id="selected-category-text" class="text-muted">Select your tag</span>
            </a>

            <!-- hidden inputs that will be filled by JS -->
            <input type="hidden" name="CategoryName" id="CategoryName" />
            <input type="hidden" name="CategoryIcon" id="CategoryIcon" />
            <input type="hidden" name="categoryId" id="categoryId" />

            <div class="mt-4 d-flex justify-content-center">
                <a asp-action="Index" class="btn btn-cancel mx-2">Cancel</a>
                <button type="submit" class="btn btn-primary mx-2">Next</button>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_CategoryModal")
@await Html.PartialAsync("_AddCategoryModal", Model)