@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary: #fdde5b;
  --primary-hover: #fce96a;
  --foreground-color: #454745;
  --danger-color: #ee4b2b;
  --muted: #9b9b9b;
  --light-gray: #edefeb;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  max-width: 420px;
  margin: auto;
  font-family: "Nunito", sans-serif;
  color: var(--foreground-color);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}
span {
  color: var(--muted) !important;
}
.btn {
  background-color: var(--primary);
  border: none;
  padding: 12px 24px;
  color: #000;
  font-weight: 500;
  border-radius: 50px;
}
.btn:hover {
  background-color: var(--primary-hover);
  color: #000;
}

.btn-cancel {
  background-color: #ffced1;
  color: #9f6a6a;
}
.btn-cancel:hover {
  background-color: #ffc1c7;
  color: #9f6a6a;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* bottom nav */
.add-button {
  background-color: var(--primary) !important;
}

.price {
  color: var(--danger-color);
}

/* epxense item styles */
.expense-icon {
  padding: 15px 20px !important;
  background-color: var(--light-gray) !important;
}

.add-expense-container {
  min-height: 80vh;
}

.add-expense-container input {
  border: none;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  width: 100%;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 420px;
  background-color: white;
  border-top: 1px solid #ddd;
  z-index: 1000;
}
